*{padding: 0px;
margin: 0px;
box-sizing: border-box;}




/*MenuOne*/

#text1{

  list-style-type: none;
}
#text, #text1, #text2, #text3{

    display: inline-block;

}
#text, #text1, #text2, #text3, a{
  text-transform: uppercase;
  text-decoration: none;
padding: 5px;
margin: 0px;
font-family: Narrow Bold;
font-size: 20px;
color: black;
background: ghostwhite;
transition: .9s;

}
#text1{
  background-color: aquamarine;
}
#text2{
  background-color: rgb(239, 124, 75);
}
#text3{
  background-color: rgb(74, 106, 74);
}
ul li:hover > a{
background: lightgoldenrodyellow;
}
.menuone{
  margin-top: 5%;
 text-align: center;
}
/*MenuOneEnd*/
h1{
  font-family: Calibri;
  font-size: 80px;
font-style: italic;
float: right;
margin-right: 140PX;
}



/*MenuTwo*/

#text4{
  list-style-type: none;
}
#text4, #text5, #text6, #text7, #text8, #text9{

  display:inline-block

}
#text4, #text5, #text6, #text7, #text8, #text9, #a, #b, #c, #d{

  text-transform: uppercase;
  text-decoration: none;
  margin: 4px;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 40px;
 padding-right: 10px;
  font-family: Narrow Bold;
  font-size: 20px;
  color: rgb(15, 15, 14);
  background: rgb(210, 245, 98);
}
#text9, #d
{padding-right: 80px;}

.menutwo{
  text-align: center;
margin-top: 6%;
margin-bottom: 6%;
}

body{
  background-color: rgb(236, 234, 234);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;


}